* {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.app{
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.app-body{
  display: flex;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}