.header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    z-index: 999;
    border-bottom: 0.1px solid lightgray;
    padding-bottom: 5px;
    width: 100%;
}
.header-left{
    display: flex;

}
.header-left > img{
    object-fit: contain;
    height: 45px;
    
}
.header-search{
    padding: 8px;
    display: flex;
    align-self: center;
    border-radius: 5px;
    height: 25px;
    color: gray;
    background-color: #eef3f8;
    width: 250px;
}
.header-search > input{
    outline: none;
    border: none;
    background: none;
}
.header-search > img{
    margin-right: 10px;
}
.header-right{
    display: flex;
    
}